.container {
  padding: 15vh 120px 5vh;
  font-family: "Mulish", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 40%;
  column-gap: 3vh;
  row-gap: 3vh;
  margin-top: 5vh;

  &_inverted {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 3vh;
    row-gap: 3vh;
    margin-top: 5vh;
  }
}

.portfolio {
  padding: 15px;
  border-radius: 8px;
}

.title {
  text-align: left;

  p {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #fdfdfd;
    margin: 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #fdfdfd;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10vh;
  background-color: #eef3fe;
  border-radius: 24px;
  padding: 55px 100px;
  margin-top: 5vh;
}
