.container {
  padding: 15vh 120px 5vh;
  font-family: "Mulish", sans-serif;

  @media screen and (max-width: 1024px) {
    padding: 10px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto 40%;
  column-gap: 2vh;
  margin-top: 2vh;

  @media screen and (max-width: 1024px) {
    display: block;
  }

  &_inverted {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 2vh;
    margin-top: 2vh;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}

.portfolio {
  padding: 15px;
  border-radius: 8px;

  &_add {
    padding: 15px;
    border-radius: 8px;

    @media screen and (max-width: 1024px) {
      height: 327px;
      margin: 2vh 0 0;
    }
  }

  @media screen and (max-width: 1024px) {
    margin: 2vh 0 0;
  }
}

.title {
  text-align: left;

  p {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #fdfdfd;
    margin: 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #fdfdfd;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    @media screen and (max-width: 1024px) {
      width: 300px;
    }
  }
}

.tagContainer {
  padding: 15vh 120px 5vh;
  font-family: "Mulish", sans-serif;

  @media screen and (max-width: 1024px) {
    display: block;
    padding: 0 0 5vh;
  }
}

.tagline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10vh;
  background-color: #eef3fe;
  border-radius: 24px;
  padding: 55px 100px;
  margin-top: 5vh;

  @media screen and (max-width: 1024px) {
    display: block;
    padding: 15px;
    border-radius: unset;
  }
}
