.main {
  background: linear-gradient(
    180deg,
    rgba(236, 244, 248, 0.23) 0%,
    #ecf4f8 100%
  );
  position: relative;

  .bubble {
    position: absolute;
    bottom: -10%;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
.container {
  padding: 8vh 120px 5vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10vh;
  font-family: "Mulish", sans-serif;

  @media screen and (max-width: 1024px) {
    display: block;
    padding: 30px;
  }
}

.cards {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3vh;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2vh;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  img {
    cursor: pointer;
  }
}
