.container {
  background-color: #214a7e;
  padding: 8vh 120px 5vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10vh;
  font-family: "Mulish", sans-serif;

  @media screen and (max-width: 1024px) {
    padding: 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}

.languages {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 8vh;
  row-gap: 4vh;

  @media screen and (max-width: 1024px) {
    column-gap: 2vh;
    row-gap: 2vh;
  }

  div {
    color: white;
    padding: 15px 0;
    border-radius: 8px;
    width: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      width: 100px;
    }
  }
}
