.container {
  // background-color: #026aaf;
  background:#214A7E;
  padding: 5vh 120px 5vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10vh;
  font-family: "Ubuntu", sans-serif;

  @media screen and (max-width: 1024px) {
    padding: 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}
.hero {
  color: #fdfdfd;

  &_title {
    width: 489px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0;

    @media screen and (max-width: 1024px) {
      width: unset !important;
      font-size: 23px;
    }
  }

  &_description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;

    @media screen and (max-width: 1024px) {
      width: unset !important;
    }

    @media screen and (max-width: 768px) {
      width: unset !important;
      margin: 3vh 0;
    }
  }
}

.languages {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 4vh;
  row-gap: 4vh;

  @media screen and (max-width: 1024px) {
    column-gap: 2vh;
    row-gap: 2vh;
  }

  img {
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  div {
    color: white;
    padding: 25px 0;
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #173163;
    ;

    @media screen and (max-width: 1024px) {
      width: 100px;
    }
  }
}
