.wrapper {
  padding: 30px 120px;
  font-family: Mulish;

  @media screen and (max-width: 1024px) {
    padding: 30px 120px;
    margin-top: 2vh;
  }

  @media screen and (max-width: 768px) {
    padding: 30px 60px;
    margin-top: 2vh;
  }

  @media screen and (max-width: 420px) {
    padding: 15px;
    margin-top: 2vh;
  }

  &_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 8vh 0;

    h2 {
      text-transform: capitalize;
      font-style: normal;
      line-height: 48px;
      color: #1e396e;
      font-weight: 800;
      font-size: 32px;
      margin: 0;
    }

    p {
      font-style: normal;
      font-weight: normal;
      text-align: center;
      line-height: 26px;
      color: #333333;
      font-size: 16px;
      width: 1010px;
      margin: 0;

      @media screen and (max-width: 1024px) {
        width: unset;
      }
    }
  }

  .distinctions {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5vh;
    row-gap: 8vh;
    align-items: center;
    margin: 10vh 0 0;

    @media screen and (max-width: 1024px) {
      grid-template-columns: auto auto;
      row-gap: 5vh;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: auto;
      row-gap: 5vh;
    }

    @media screen and (max-width: 420px) {
      grid-template-columns: auto;
      row-gap: 5vh;
    }
  }
}
