.text {
  font-family: Mulish;

  &_welcome {
    width: 182px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    margin: 0 0 5px;

    @media screen and (max-width: 768px) {
      width: unset !important;
    }
  }

  &_title {
    width: 489px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0;

    @media screen and (max-width: 768px) {
      width: unset !important;
      font-size: 23px;
    }

    &_mini {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
    }
  }

  &_description {
    width: 489px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;

    @media screen and (max-width: 768px) {
      width: unset !important;
      margin: 3vh 0;
    }

    &_mini {
      width: unset;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      margin: 0;
    }
  }
}
