.container {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  .header {
    @media screen and (max-width: 768px) {
      height: 100vh;
    }
  }

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 120px 0;
    z-index: 10;

    @media (max-width: 1380px) and (min-width: 1140px) {
      padding: 15px 20px 0;
    }

    .nav_items {
      display: flex;
      align-items: center;

      @media screen and (max-width: 1140px) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;
        z-index: 10;

        .active a,
        .li:hover {
          &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 0px;
            left: 0;
            bottom: 0;
            top: 25px;
            border: 2px solid #214a7e;
          }
        }

        li {
          list-style: none;

          a {
            font-weight: bold;
            margin-right: 88px;
            font-style: normal;
            line-height: 18px;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            text-transform: capitalize;

            &:nth-child(4) {
              margin-right: unset;
            }
          }
        }
      }
    }

    .contactButton {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #fff;
      background-color: #1958e3;
      padding: 11px 24px;
      border: 1px solid transparent;
      text-decoration: none;
      transition: 0.4s;
      cursor: pointer;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);

      @media screen and (max-width: 1140px) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @media screen and (max-width: 1140px) {
        display: block;
        cursor: pointer;
      }
    }

    .mobileNav {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f2f4f7;
      transition: all 0.6s ease;
      padding: 15px 20px;
      animation-duration: 0.5s;
      animation-name: slidein;

      &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &_lists {
        ul {
          padding: 0;
          margin-top: 5vh;

          li {
            list-style: none;
            padding: 15px 0;

            a {
              text-decoration: none;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 28px;
              color: #00103c;
            }
          }
        }
      }

      &_button {
        background-color: #00103c;
        border: 1px solid #00103c;
        width: 100%;
        padding: 20px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        outline: none;
      }

      @keyframes slidein {
        from {
          margin-right: 0%;
          width: 0%;
        }

        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    }
  }

  .mainWrapper {
    height: 100vh;
    position: relative;
  }

  .videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 1024px) {
      max-height: 100vh;
      position: relative;
    }

    .heroImage {
      display: none;

      @media screen and (max-width: 1024px) {
        height: 100vh;
        width: 100%;
        display: block;
        object-fit: cover;
        position: relative;
      }
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      // -o-object-fit: cover;
      object-fit: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(15, 15, 15, 0.3);
      // background: linear-gradient(
      //   to bottom,
      //   rgba(0, 0, 0, 0.5),
      //   rgba(0, 0, 0, -3.7)
      // );

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .accomplishments {
      position: absolute;
      bottom: 0;
      width: 100%;

      @media screen and (max-width: 768px) {
        position: unset;
        display: none;
      }
    }
  }

  .hero {
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .hero_text {
      padding: 0 120px 0;
      position: relative;
      top: -30px;

      @media screen and (max-width: 1226px) {
        position: relative;
        top: -55px;
      }

      @media (max-width: 1380px) and (min-width: 1140px) {
        position: unset;
        padding: 30px;
        width: 100%;
        top: 10%;
      }

      h1 {
        font-family: Ubuntu;
        font-weight: 800;
        font-size: 75px;
        line-height: 110%;
        color: #fff;
        max-width: 905px;
        margin: 0 0 24px;

        @media (max-width: 1140px) {
          font-size: 40px;
        }
      }

      p {
        font-family: Ubuntu;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        margin: 0 0 32px;
      }

      .heroButton {
        margin: 0 0 103px;
        padding: 17px 20px 17px 24px;
        display: flex;
        align-items: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border: 1px solid #fff;
        box-sizing: border-box;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: hsla(0, 0%, 100%, 0.01);
        cursor: pointer;
        transition: 0.4s;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;

        @media screen and (max-width: 1140px) {
          margin: 0;
        }

        img {
          margin-left: 14px;
        }
      }
    }
  }

  .accomplishmentsMobile {
    display: none;

    @media screen and (max-width: 768px) {
      position: unset;
      display: block;
    }
  }

  .recognition {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 50%;
    grid-column-gap: 20%;
    font-family: "Ubuntu", sans-serif;
    padding: 8vh 120px;

    &_text {
      h6 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #1958e3;
        margin: 0 0 12px;
      }

      h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 70px;
        color: #0f0f0f;
        margin: 0 0 24px;
        letter-spacing: -0.015em;
      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #4b4d51;
        max-width: 406px;
        letter-spacing: 0.05em;

        span {
          display: block;
          margin-top: 10px;
        }
      }
    }

    .recognitions {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;

      &_recognition {
        height: 186px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          background-color: #089ff9;
        }
        &:nth-child(2) {
          background-color: #f7df1e;
        }
        &:nth-child(3) {
          background-color: #1958e3;
        }
        &:nth-child(4) {
          background-color: #5f01d1;
        }
      }
    }
  }

  .company {
    padding: 8vh 0;
    background-color: #f5f8ff;

    p {
      margin: 8vh 0 0;
      font-family: Gilroy, sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: #1958e3;
      padding: 16px 75px;
      text-align: center;
      // position: relative;
      // text-decoration: none;
      transition: 0.4s;
      cursor: pointer;
    }

    .title {
      text-align: center;

      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 48px;
        text-transform: capitalize;
        margin: 0;
        color: #101112;
      }

      p {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        text-transform: capitalize;
        color: #214a7e;
      }
    }

    .companies {
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      align-items: center;
      column-gap: 2%;
      row-gap: 5vh;
      padding: 8vh 200px 0;

      @media screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
      }

      img {
        @media screen and (max-width: 1024px) {
          margin: 20px 0;
        }
      }
    }
  }

  .choose {
    padding: 8vh 0 0;
    font-family: Ubuntu;
    // background: #214a7e;
    background: #1958e3;

    @media screen and (max-width: 1024px) {
      padding: 30px 120px;
      margin-top: 2vh;
    }

    @media screen and (max-width: 768px) {
      padding: 30px 60px;
      margin-top: 2vh;
    }

    @media screen and (max-width: 420px) {
      padding: 15px;
      margin-top: 2vh;
    }

    .headline {
      padding: 0 120px;
      font-weight: 700;
      font-size: 64px;
      line-height: 70px;
      color: #fff;
      letter-spacing: -0.015em;
      margin: 0 0 55px;

      @media screen and (max-width: 1024px) {
        font-size: 23px;
        line-height: 32px;
        width: unset;
      }
    }

    .distinctions {
      display: grid;
      grid-template-columns: auto auto auto;
      border-top: 1px solid hsla(0, 0%, 100%, 0.3);
      row-gap: 8vh;
      // align-items: center;
      margin: 5vh 0 0;

      @media screen and (max-width: 1024px) {
        grid-template-columns: auto auto;
        row-gap: 5vh;
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: auto;
        row-gap: 5vh;
      }

      @media screen and (max-width: 420px) {
        grid-template-columns: auto;
        row-gap: 5vh;
      }

      div {
        // background: #214a7e;
        background: transparent;
        padding: 48px 43px 32px 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.3s;
        color: #fdfdfd;

        &:nth-child(1) {
          border-left: 1px solid hsla(0, 0%, 100%, 0.3);
          margin-left: 120px;
        }

        &:nth-child(2) {
          border-left: 1px solid hsla(0, 0%, 100%, 0.3);
          border-right: 1px solid hsla(0, 0%, 100%, 0.3);
        }

        &:nth-child(3) {
          border-right: 1px solid hsla(0, 0%, 100%, 0.3);
          margin-right: 120px;
        }

        h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 43px;
          margin: 0 0 24px;
        }

        p {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;

          span {
            margin-top: 22px;
            display: inline-flex;
          }

          @media screen and (max-width: 1024px) {
            width: unset !important;
          }

          @media screen and (max-width: 768px) {
            width: unset !important;
            margin: 3vh 0;
          }
        }

        .numberText {
          font-weight: 700;
          font-size: 64px;
          line-height: 70px;
          color: hsla(0, 0%, 100%, 0.1);
          margin: 88px 0 0;
          letter-spacing: -0.015em;
          transition: 0.4s;
        }
      }
    }
  }

  .postContainer {
    padding: 8vh 120px 10vh;

    @media screen and (max-width: 1024px) {
      padding: 30px;
    }

    @media screen and (max-width: 420px) {
      padding: 15px;
    }

    .heading {
      margin-bottom: 5vh;

      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 48px;
        text-transform: capitalize;
        color: #101112;
        margin: 0;

        @media screen and (max-width: 1024px) {
          width: unset;
          font-size: 23px;
          line-height: 32px;
        }
      }

      p {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        color: #95a5c6;
        margin: 0;
      }
    }

    .post {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 3vh;
      row-gap: 8vh;
      border-radius: 5px;

      @media screen and (max-width: 1024px) {
        grid-template-columns: auto auto;
        padding: 30px;
        row-gap: 4vh;
      }

      @media screen and (max-width: 420px) {
        grid-template-columns: auto;
        padding: 15px;
      }

      img {
        width: 100%;
      }

      &_content {
        margin: 2vh 0;

        .tag {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #0f0f0f;
          margin: 0 8px 8px 0;
          padding: 3px 9px;
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid #0f0f0f;
        }

        h5 {
          font-family: Ubuntu;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #333533;
          margin: 0;
        }

        p {
          font-family: Ubuntu;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
        }
      }

      &_person {
        display: flex;
        align-items: flex-start;
        margin: 2vh 0 0;

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }

        p {
          font-family: Ubuntu;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 13px;
          text-transform: capitalize;
          color: #333533;
          margin: 0;
        }

        span {
          margin: 1vh 0 0;
          font-family: Ubuntu;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 10px;
          text-transform: capitalize;
          color: rgba(51, 53, 51, 0.6);
        }
      }
    }

    .cta {
      margin-top: 10vh;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      position: relative;
      transition: .4s;
    }
  }
}
