.container {
  margin: 0;
  font-family: "Mulish", sans-serif;

  video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    // background-color: black;
    // mix-blend-mode: overlay;
  }

  .content {
    .hero_text {
      position: absolute;
      top: 50px;
      padding: 35px 120px 0;

      h1 {
        font-family: Mulish;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        text-transform: capitalize;
        color: #ffffff;
        max-width: 600px;
        margin-bottom: 0;
      }

      p {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #ffffff;
        max-width: 510px;
      }

      button {
        margin-top: 2vh;
      }
    }

    .accomplishments {
      // margin-top: 10vh;
      bottom: 0;
      position: absolute;
    }

    nav {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 120px 0;
      z-index: 10;

      .nav_items {
        display: flex;
        align-items: center;

        ul {
          display: flex;
          align-items: center;
          z-index: 10;

          li {
            font-weight: normal;
            padding-right: 40px;
            font-style: normal;
            line-height: 18px;
            list-style: none;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
  }

  .companies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    column-gap: 8vh;
    padding: 8vh 120px 0;
  }
}
