.container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  // color: #fff;
  font-family: "Ubuntu", sans-serif;
  width: 100%;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    padding: 30px 30px;
    border-top: 1px solid #ffffff;
    cursor: pointer;

    .white {
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
      }
    }

    .colored {
      display: block;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &:nth-child(1) {
      // background-image: linear-gradient(to right, #026aaf, #629fca);
      background-color: transparent;
      color: #FE8C00;

      &:hover {
        // background-image: unset;
        background: linear-gradient(180deg, #FE8C00 0%, #F83600 100%);
        color: #ffffff;

        .white {
            display: block;
        }
    
        .colored {
            display: none;
        }
      }

      @media screen and (max-width: 1024px) {
        background: linear-gradient(180deg, #FE8C00 0%, #F83600 100%);
      }
    }

    &:nth-child(2) {
      // background-image: linear-gradient(to right, #629fca,#026aaf, );
      background-color: transparent;
      color: #A931FF;


      &:hover {
        // background-image: unset;
        background: linear-gradient(180deg, #B721FF 0%, #21D4FD 100%);
        color: #ffffff;

        .white {
          display: block;
      }
  
      .colored {
          display: none;
      }
      }

      @media screen and (max-width: 1024px) {
        background: linear-gradient(180deg, #B721FF 0%, #21D4FD 100%);
      }
    }

    &:nth-child(3) {
      // background-image: linear-gradient(to right, #026aaf, #629fca);
      background-color: transparent;
      color: #FE585B;

      &:hover {
        // background-image: unset;
        background: linear-gradient(180deg, #FF5858 0%, #F857A6 100%);
        color: #ffffff;

        .white {
          display: block;
      }
  
      .colored {
          display: none;
      }
      }

      @media screen and (max-width: 1024px) {
        background: linear-gradient(180deg, #FF5858 0%, #F857A6 100%);
      }
    }

    @media screen and (max-width: 768px) {
      padding: 30px;
    }

    &:nth-child(2) {
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
    }

    &:nth-child(1) {
      padding-left: 120px;

      @media screen and (max-width: 768px) {
        padding: 30px;
      }
    }

    p {
      margin: 0;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 21px;
      // color: #ffffff;
      margin: 1vh 0;

      @media screen and (max-width: 1024px) {
        font-size: 18px;
        color: white;
      }
    }

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      width: 238px;
      // color: rgba(249, 249, 249, 0.8);
    }
  }
}
