.container {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: flex-start;
  column-gap: 10vh;
  // background-color: #026aaf;
  background: #214A7E;
  padding: 10vh 120px 5vh;
  font-family: "Ubuntu", sans-serif;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 8vh 15px;
  }
}

.hero {
  .welcome {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    // color: #796af2;
    color: #95A5C6;
    margin: 0;
  }

  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    text-transform: capitalize;
    color: #fdfdfd;
    margin: 0;

    @media screen and (max-width: 1024px) {
      font-size: 23px;
      line-height: 32px;
    }
  }

  .subtext {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #fdfdfd;
    width: 400px;

    @media screen and (max-width: 768px) {
      width: unset;
    }
  }

  .email,
  .phone {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #fdfdfd;

    span {
      // color: #796af2;
      color: #95A5C6;
    }
  }
}

.contactInfoContainer {
  @media screen and (max-width: 768px) {
    order: 2;
    width: 100%;
    margin-top: 8vh;
  }
}

.formContainer {
  @media screen and (max-width: 768px) {
    order: 1;
  }
}

.contact {
  background: rgba(105, 121, 183, 0.15);
  border-radius: 5px;
  padding: 30px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3vh;

  img {
    margin-right: 25px;
  }

  &_title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #fdfdfd;
  }

  &_content {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(253, 253, 253, 0.8);
  }
}

.form {
  margin-top: 3vh;

  &_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3vh;
  }

  .input,
  .textarea {
    // opacity: 0.5;
    border: 1px solid rgba(253, 253, 253, 0.6);
    background: transparent;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding: 10px;
    color: white;
    width: 100%;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: rgba(253, 253, 253, 0.5);
    }

    &:focus {
      outline: none;
      color: white;
    }
  }

  .input {
    height: 55px;
  }

  .textarea {
    height: 100px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      display: block;
    }

    div {
      @media screen and (max-width: 768px) {
        margin-bottom: 3vh;
      }
    }

    input[type="checkbox"] {
      background: transparent;
    }

    .checkText {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #fdfdfd;
      margin-left: 15px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #fdfdfd;
      margin-left: 15px;
    }
  }
}

.buttonWrapper {
  margin-top: 3vh;

  button {
    margin-right: 20px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-top: 3vh;
    }
  }
}
