.container {
  background: #fdfdfd;
  font-family: "Ubuntu", sans-serif;

  &_main {
    display: grid;
    padding: 10vh 120px 8vh;
    grid-template-columns: auto auto auto auto;
    column-gap: 10vh;
    align-items: flex-start;

    @media screen and (max-width: 1024px) {
      padding: 60px 30px;
      grid-template-columns: auto;
    }
  }
}

.about {
  p {
    width: 261px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #363839;
  }

  div {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }
}

.mobile_quicklinks,
.mobile_services,
.services,
.quicklinks,
.contact {
  @media screen and (max-width: 1024px) {
    margin-top: 5vh;
  }
  p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #026aaf;
    margin: 0;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #363839;
      margin-bottom: 2vh;
    }
  }
}

.quicklinks,
.services {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.mobile_mid {
  display: none;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vh;
  }
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(54, 56, 57, 0.7);
  text-align: center;
  padding: 5px 0;

  @media screen and (max-width: 768px) {
    padding: 5px 0 30px;
  }
}
